@{
    ViewData["Title"] = "Home Page";
}

<div class=" container text-center carousel">
    <h1 class="display-4">Welcome!</h1>
    <p>Please make an appointment</p>
        <img width="500" src="images/HomePage.jpg">

</div>
